.row {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.row__playerInfo {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    max-height: 100px;
    object-fit: contain;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    align-items: center;
}

.row__playerInfo > img {
    height: 100px;
}

.row__playerName {
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
    max-width: 100px;
    display: flex;
    flex: 1;
    padding-left: 10px;
    justify-content: center;
    justify-items: center;
}

.row__playerPosition {
    font-size: 20px;
    font-weight: 600;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    justify-items: center;
    max-width: 5px;
}

.row__playerSalary {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-right: 50px;
    padding-left: 50px;
}

.row__button {
    height: 50px;
    width: 100px;
    background-color: rgba(51, 51, 51, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 0.2vw;
}

.row__button:hover {
    color: black;
    background-color: white;
    transition: all 0.2s;
}